{% extends "base" %}
{% block title %} Lamebda - {{name}} {% endblock %}
{% block content %}
<table class="styled-table">
    <tr>
        <th>Project</th>
        <td>{{name}}</td>
    </tr>
    <tr>
        <th>Version</th>
        <td>{{version}}</td>
    </tr>
    <tr>
        <th>Uptime</th>
        <td><span title="{{last_loaded}}">{{last_loaded | elapsed}}</span></td>
    </tr>
    <tr>
        <th>Info</th>
        <td class="nowrap">
            {% if has_openapi_spec %}
            <a href="{{lamebda_root_context}}/{{context_path}}/swagger-ui">UI</a> |
            <a href="{{lamebda_root_context}}/{{context_path}}/api.yaml">Source</a> |
            {% endif %}
            <a href="{{lamebda_root_context}}/{{context_path}}/health">Status</a>
        </td>
    </tr>
    <tr>
        <th>Operations</th>
        <td>
            <ul class="no-bullets">
                {% for rm in request_mappings %}
                <li class="nowrap">
                    {% for method in rm.methods %}
                    {{method}}
                    {% endfor %}
                    {% for pattern in rm.patterns %}
                    {{pattern}}
                    {% endfor %}
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>
{% endblock %}