<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Project status</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 26px; /* Margin bottom by footer height */
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 26px; /* Set the fixed height of the footer here */
            line-height: 26px; /* Vertically center the text there */
            background-color: #f5f5f5;
        }

        .container {
            max-width: 4096px;
        }

        .header-bg {
            background: #000;
            color:#FFF;
        }
    </style>
</head>

<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 header-bg border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"><span id="projectName">Project status</span> <span id="projectVersion" class="text-muted"></span></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2" href="../specification/api">API documentation</a>
        <a class="p-2" href="../specification/api/api.yaml">API specification</a>
        <a class="p-2" href="./">Status</a>
    </nav>
</div>

<div class="container">

    <h5>Functions</h5>
    <table id="functiontable" class="table table-hover table-bordered table-light">
        <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Running</th>
            <th scope="col">Request mapping</th>
            <th scope="col">Modified</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <h5>Metrics</h5>
    <table id="metricstable" class="table table-hover table-light">
        <thead class="thead-light">
        <tr>
            <th scope="col">Path</th>
            <th scope="col">Last used</th>
            <th scope="col">Response time</th>
            <th scope="col">Last error</th>
            <th scope="col">Response status</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script>

    function numberFormat(n, fd) {
        if (! n) {
            return ''
        }

        return n.toFixed(fd)
    }

    function dateFormat(m)
    {
        if (! m) {
            return ''
        }
        m = new Date(m)
        return m.getUTCFullYear() + "-" +
            ("0" + (m.getUTCMonth()+1)).slice(-2) + "-" +
            ("0" + m.getUTCDate()).slice(-2) + " " +
            ("0" + m.getUTCHours()).slice(-2) + ":" +
            ("0" + m.getUTCMinutes()).slice(-2) + ":" +
            ("0" + m.getUTCSeconds()).slice(-2);
    }

    function renderMetrics(metrics)
    {
        for (var pattern in metrics) {
            var metric = metrics[pattern]

            var statusMarkup = '<thead class"thead-light"><th class="col-sm-6">Status</th><th class="col-sm-4">Count</th></thead>'
            for (status in metric.countByStatus) {
                var count = metric.countByStatus[status]
                statusMarkup += '<tr><td class="col-sm-6">' + status + '</td><td class="col-sm-4">' + count + '</td></tr>'
            }

            var markup = '<tr>' +
                '<td>' + pattern + '</td>' +
                '<td>' + dateFormat(metric.lastInvocation) + '</td>' +
                '<td>' + numberFormat(metric.averageResponseTime, 2) + ' ms (Last: ' + numberFormat(metric.lastResponseTime, 2) + ' ms)</td>' +
                '<td>' + (metric.lastError ? metric.lastError : 'None') + '</td>' +
                '<td>' +
                '<table class="table table-sm table-bordered">' + statusMarkup + '</table>' +
                '</td>' +
                '</tr>'
            $("#metricstable").append(markup);
        }
    }

    function renderFunctions(functions) {
        for (var i = 0; i < functions.length; i++) {
            var f = functions[i];

            var requestMappingMarkup = '<span class="text-warning">None</span>'

            if (f.requestMappings) {
                var mapCount = f.requestMappings.length;
                requestMappingMarkup = '<ul class="list-unstyled">';
                for (var j = 0; j < mapCount; j++) {
                    var rm = f.requestMappings[j];
                    requestMappingMarkup += '<li>';
                    requestMappingMarkup += rm.methods;
                    requestMappingMarkup += '<span> ' + rm.patterns + '</span>';
                    requestMappingMarkup += '<span title="Consumes ' + rm.consumes + '"> &#8628; ' + rm.consumes + '</span>'
                    requestMappingMarkup += '<span title="Produces ' + rm.produces + '"> &#8625; ' + rm.produces + '</span>'
                    requestMappingMarkup += '</li>'
                }
                requestMappingMarkup += '</ul>';
            }
            var markup = '' +
                '<tr>' +
                '<td>' + f.name + '</td>' +
                '<td><span class="' + (f.running ? 'text-success' : 'text-danger') + '">' + f.running + '</td>' +
                '<td>' + requestMappingMarkup + '</td>' +
                '<td>' + dateFormat(new Date(f.lastModified)) + '</td>' +
                '</tr>';
            $("#functiontable").append(markup);
        }
    }

    $(document).ready(function () {
        $.ajax({
            url: window.location + '/status.json',
            success: function (data) {
                var cfg = data.project.configuration
                console.log('Project cfg', cfg)
                document.title =  cfg['project.name'];
                $('#projectName').html(document.title);
                $('#projectVersion').html(cfg['project.version']);
                renderFunctions(data.functions)
                renderMetrics(data.metrics)
            }
        });
    });
</script>
<footer class="footer border-top">
    &nbsp;<small class="text-muted">Powered by <a href="https://github.com/ethlo/lamebda">Lamebda</a></small>
</footer>
</body>
</html>